body {
    font-family: Arial;
    background: #f4f4f4;
}

.content {
    width: 70%;
    margin: auto;
    background: white;
    padding: 20px;
}

nav a {
    margin-right: 15px;
}

.card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}
