{% extends "base.html" %}
{% block title %}Vote{% endblock %}

{% block content %}
<h3 class="mb-4">Community Voting</h3>

<div class="row">
{% for r in requests %}
    <div class="col-md-4 mb-3">
        <div class="card shadow p-3">
            <h5>{{ r.resource }}</h5>
            <p class="mb-1"><b>By:</b> {{ r.name }}</p>
            <p class="small">{{ r.reason }}</p>
            <p>
Status:
{% if r.allocated %}
    <span class="badge bg-success">Allocated</span>
{% else %}
    <span class="badge bg-warning">Pending</span>
{% endif %}
</p>


            <span class="badge urgency-{{ r.urgency }}">
                Urgency {{ r.urgency }}
            </span>

            <p class="mt-2">Votes: {{ r.votes|length }}</p>

            {% if r.allocated %}
                <span class="badge bg-success">Allocated</span>
            {% else %}
                <a href="/vote/{{ r.id }}" class="btn btn-primary btn-sm">Vote</a>
            {% endif %}

        </div>
    </div>
{% endfor %}
</div>
{% endblock %}
